html {
  margin:0;
  padding:0;
  overflow: hidden;
}

body {
  background: #000000;
  margin:0;
  padding:0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 100%;
  width: 100%;
}

.logo {
  width: 50vw;
  height: 50vh;
}
